In [1]:
# Import library yang diperlukan
import pandas as pd

In [2]:
# Data Cleaning: Load data dari file CSV
data1 = pd.read_csv('data1.csv')
data2 = pd.read_csv('data2.csv')

In [3]:
# Data1
data1 = pd.DataFrame({
    'Nama': ['Dewanda Camilla Zah\'ra', 'Fina Nur\'aeni', 'Iqbal Hakim Nugraha', 'Nida Shofwatunnisa', 'Silmi Ainun Ashafani', 'Muhammad Yusuf Zulfikar'],
    'Email Address': ['dewandacamilla26@gmail.com', 'finana367@gmail.com', 'iqbalhakim00@gmail.com', 'nidashofwatunnisa15@gmail.com', 'silmiainunashafani02@gmail.com', 'yusufzulfikar20@gmail.com'],
    'Usia': [20, 20, 21, 20, 20, 20],
    'Pembelian Terakhir': [50, 45, 81, 100, 79, 120]
})

# Data2
data2 = pd.DataFrame({
    'Nama': ['Dewanda Camilla Zah\'ra', 'Fina Nur\'aeni', 'Iqbal Hakim Nugraha', 'Nida Shofwatunnisa', 'Silmi Ainun Ashafani', 'Muhammad Yusuf Zulfikar'],
    'Status Keanggotaan': ['Silver', 'Gold', 'Platinum', 'Gold', 'Silver', 'Silver'],
    'Alamat Pengiriman': ['Bandung', 'Sumedang', 'Jakarta', 'Tangerang', 'Bogor', 'Surabaya']
})

In [4]:
# Menambahkan kolom 'key' ke masing-masing DataFrame
data1['Key'] = range(1, len(data1) + 1)
data2['Key'] = range(1, len(data2) + 1)

In [5]:
print("Data1:")
print(data1)
print("Data2:")
print(data2)

Data1:
                      Nama                   Email Address  Usia  \
0   Dewanda Camilla Zah'ra      dewandacamilla26@gmail.com    20
1            Fina Nur'aeni             finana367@gmail.com    20
2      Iqbal Hakim Nugraha          iqbalhakim00@gmail.com    21
3       Nida Shofwatunnisa   nidashofwatunnisa15@gmail.com    20
4     Silmi Ainun Ashafani  silmiainunashafani02@gmail.com    20
5  Muhammad Yusuf Zulfikar       yusufzulfikar20@gmail.com    20

   Pembelian Terakhir  Key
0                  50    1
1                  45    2
2                  81    3
3                 100    4
4                  79    5
5                 120    6
Data2:
                      Nama Status Keanggotaan Alamat Pengiriman  Key
0   Dewanda Camilla Zah'ra             Silver           Bandung    1
1            Fina Nur'aeni               Gold          Sumedang    2
2      Iqbal Hakim Nugraha           Platinum           Jakarta    3
3       Nida Shofwatunnisa               Gold         Tangerang    4
4     Silmi Ainun Ashafani             Silver             Bogor    5
5  Muhammad Yusuf Zulfikar             Silver          Surabaya    6

In [6]:
# Data Integration: Gabungkan dua set data menjadi satu berdasarkan kolom 'Nama'
merged_data = pd.merge(data1, data2, on='Nama')

In [7]:
# Data Transformation: Ubah format atau tipe data jika diperlukan
merged_data['Usia'] = pd.to_numeric(merged_data['Usia'], errors='coerce')

In [8]:
# Data Reduction: Hapus kolom yang tidak relevan atau duplikat
cleaned_data = merged_data.drop(['Email Address'], axis=1)

In [9]:
# Data Discretization: Pisahkan data numerik menjadi interval diskrit
cleaned_data['Usia_bins'] = pd.cut(cleaned_data['Usia'], bins=[0, 20, 40, 60, 80, 100], labels=['0-20', '21-40', '41-60', '61-80', '81-100'])

In [10]:
print("Hasil Preprocessing:")
print(cleaned_data)

Hasil Preprocessing:
                      Nama  Usia  Pembelian Terakhir  Key_x  \
0   Dewanda Camilla Zah'ra    20                  50      1
1            Fina Nur'aeni    20                  45      2
2      Iqbal Hakim Nugraha    21                  81      3
3       Nida Shofwatunnisa    20                 100      4
4     Silmi Ainun Ashafani    20                  79      5
5  Muhammad Yusuf Zulfikar    20                 120      6

  Status Keanggotaan Alamat Pengiriman  Key_y Usia_bins
0             Silver           Bandung      1      0-20
1               Gold          Sumedang      2      0-20
2           Platinum           Jakarta      3     21-40
3               Gold         Tangerang      4      0-20
4             Silver             Bogor      5      0-20
5             Silver          Surabaya      6      0-20